body {
    width: 1100px;
    margin: 0 auto;
    font-family: Raleway, sans-serif;
    color: #000000;
}

a {
    text-decoration: underline;
    color: #000000;
    text-underline-offset: 5px;
}

.header {
    margin: 92px 24px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}

.header__menu {
    display: block; 
    padding-left: 24px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    width: 391px;
    justify-content: space-around;
    list-style: circle;
    gap: 34px;
}

.header__link_active .header__link { 
    text-decoration: none;
}

.header__link_active .header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    color: #000000;
    line-height: 1.2;
}

.header__logo {
    display: block; 
    padding-left: 44px;
    margin-right: 192px;
}

.header__logo-image {
    width: 100%;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-style: normal;
    font-size: 18px;
    line-height: 1.35;
    place-content: center;
    text-align: left;
    color: #000000;
}

.cover {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 175px 52px 50px 50px;
    background: url(../images/cover.jpg) no-repeat center / cover;
    z-index: -1;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    inset: 0;
    z-index: 0;  
}

.cover__title {
    display: block;
    width: 100%;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 100px;
    line-height: 1;
    z-index: 1;
}   
    
.accent-span {
    display: block;
}

.aligned-text {
    text-align: left;
    letter-spacing: 30px;
}    

.no-letter-spacing {
    letter-spacing: 0;
    padding-left: 30px;
}

.aligned-text_center {
    letter-spacing: 30px;
    text-align: center;
    padding-top: 25px;
}

.letter-spacing-extended2 {
    letter-spacing: 60px;
}

.aligned-text_right {
    text-align: right;
    padding-top: 20px;
    letter-spacing: 59px;
}

.letter-spacing-extended {
    padding-right: 0px;
    letter-spacing: 29px;
}

.no-letter-spacing1 {
    letter-spacing: 0px;
}

.cover__description {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 134px;
    padding-left: 0;
    z-index: 1;
}

.cover__description-text {  
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    width: 637px;
    padding-left: 28px;
    padding-top: 14px;
    word-spacing: 19px;
    white-space: nowrap;
}

.description-text {
    padding-left: 22px;
    word-spacing: 19px;
}

.bet-button {
    width: 256px;
    height: 51px;
    display: inline-block;
    background-color: #fff1;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.lots {
    width: 1052px;
    margin: 181px 24px 0px 24px;
}

.lots__heading {
    width: 121px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 41px;
    color: #000000;
    text-decoration: none;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1052px;
    gap: 25px;
    margin-top: 27px;
}

.lots__card-list-item {
    display: flex;
    width: 334px;
    height: 563px;
    list-style: none;
    position: relative;
    line-height: 1.35;
}

.card_type_film {
    background: url(../images/card-lot-01.jpg) no-repeat center / cover;
}

.card_type_book {
    background: url(../images/card-lot-02.jpg) no-repeat center / cover;
}

.card_type_picture {
    background: url(../images/card-lot-03.jpg) no-repeat center / cover;
}

.card-link {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    width: 334px;
    height: 563px;
}

.card__title {
    z-index: 1;
    padding-left: 40px;
    padding-top: 52px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    line-height: 120%;
}

.card__text {
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 48px;
    align-items: end;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.lots__look-more-link {
    display: block;
    width: 192px;
    height: 23px;
    font-size: 20px;
    font-weight: 400;
    text-transform: lowercase;
    text-decoration: underline;
    margin-top: 32px;
    margin-left: 40px;
    text-decoration-thickness: 0.1px;
}

.about__column {
    display: grid;
    grid-template-columns: 334px 2fr;
    width: 1052px;
    margin: 180px 24px 0px 24px;
}

.about__logo {
    display: grid;
    place-content: center;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background-color: #000000;
    justify-self: center;
    z-index: -1;
}

.about__logo-image {
    height: 142px;
    width: 142px;
}

.about {
    padding-top: 107px;
    padding-left: 25px;
    flex-grow: 2;
}

.about__title {
    width: 291px;
    font-size: 40px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;

}

.about__text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 24px;
    width: 100%;
    margin-top: 100px;
    font-size: 20px;
    color: #000;
    letter-spacing: 0.1px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    margin: 177px 50px 88px 50px;
}

.footer__menu {
    display: block;
    width: 149px;
    padding-top: 7px;
    margin-left: 39px;
}

.footer__menu-list {
    display: block;
    list-style: none;
    text-align: center;
}

.footer__menu-link {
    font-size: 18px;
    color: #000000;
    line-height: 1.1;
}

.footer__menu-link_active .footer__menu-link { 
    text-decoration: none;
}

.footer__social-list {
    width: 240px;
}

.footer__social-list-item {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
}

.footer__social-icon {
    width: 48px;
}